<table class="table">
  <tr>
    <th>SlipCode</td>
    <th>From</td>
    <th>Text</td>
    <th>Ignored</td>
    <th>Confirm</td>
    <th>Error</td>
    <% 5.times.each do |i| %>
    <th class="dym_field">
         <%  
           field = Referral::Field.find_by_position(i+1)
         %>
         <%= field.nil? ? Referral::Field.columnize(i+1) : field.meaning %>
       </th>
    <% end %>
    
    <th width="150">Action</th>
   </tr>
   <% @reports.each do |report| %>
      <%
        if report.ignored
           ignore_link = "Unignore"
           ignored = "Yes"
        else
           ignore_link = "Ignore"
           ignored = "No"
        end
        
        
        txt_class = report.error ? "txt_error" : ""
       
      %>
      <tr>
        <td class="<%= txt_class %>" ><%= report.slip_code %></td>
          <td class="<%= txt_class %>"  ><%= report.type %> </td>
          <td class="<%= txt_class %>"  title="<%= report.text %>"><%= truncate(report.text, :length => 20) %> </td>
          <td class="<%= txt_class %>"  ><%= ignored  %> </td>
          <td class="<%= txt_class %>"  ><%= report.confirm_from ? report.confirm_from.user_name : "" %> </td>
          <td class="<%= txt_class %>"  title="<%=report.error_message%>"><%= report.error ? "Yes" : "No"%> </td>
          <% 5.times.each do |i| %>
            <td class="dym_field <%= txt_class %>">
                <%= report.send("field#{i+1}")  %>
            </td>
          <% end %>
            <td> 
              <%= link_to "Edit"  , edit_referral_report_path(report, :t => params[:t]) %> |
              <%= link_to "Delete", referral_report_path({:id => report}.merge(params.slice(:type,:ignored, :t))), :method => :delete, :confirm => "Are you sure to remove"%> |
              <%= link_to ignore_link, referral_reports_toggle_path({:id => report}.merge(params.slice(:type, :ignored, :t))) %>
            </td> 
        </tr>
    <% end %>
</table>