<div style="text-align: right;">
  <%=link_to '<i class="icon-book"></i> Export'.html_safe, current_url(request.fullpath), :class => "btn" %>
</div>
<br />
<table class="table">
  <tr>
    <th>SlipCode</td>
    <th>From</td>
    <th>Text</td>
    <th>Ignored</td>
    <th>Confirm</td>
    <th>Error</td>
    <% 5.times.each do |i| %>
      <th class="dym_field"><%=  Referral::Field.label(i+1) %></th>
    <% end %>
    <th>Date</td>
    <th width="170">Action</th>
   </tr>
   <% @reports.each do |report| %>
      <%
        if report.ignored
           ignore_link = "Unignore"
           ignored = "Yes"
        else
           ignore_link = "Ignore"
           ignored = "No"
        end
        
        
        txt_class = report.error ? "txt_error" : ""
       
      %>
      <tr>
          <td class="<%= txt_class %>"  > <%= highlight(report.slip_code, params[:query]) %> </td>
          <td class="<%= txt_class %>"  > <%= report.type %> </td>
          <td class="<%= txt_class %>"  title="<%= report.text %>"> <%= highlight(truncate(report.text, :length => 80), params[:query]) %> </td>
          <td class="<%= txt_class %>"  ><%= ignored  %> </td>
          <td class="<%= txt_class %>"  ><%= report.confirm_from ? report.confirm_from.phone_number + "(#{report.confirm_from.user_name})" : "" %> </td>
          <td class="<%= txt_class %>"  title="<%=report.error_message%>"> <%= report.error ? "Yes" : "No"%> </td>
          <% 5.times.each do |i| %>
            <td class="dym_field <%= txt_class %>">
                <% text = report.send("field#{i+1}") || ""  %>
                <%= highlight( text , params[:query])  %>
            </td>
          <% end %>
          <td title="<%=report.created_at %>"><%=distance_of_time_in_words_to_now report.created_at%></td>  
          <td> 
            <% if report.error %>
              <%= link_to "Rectify"  , edit_referral_report_path(report) %> |
            <%  end %>
            <%= link_to "Delete", referral_report_path(report), :method => :delete, :confirm => "Are you sure to remove"%> |
            <%= link_to ignore_link, referral_reports_toggle_path(:id => report) %>
          </td> 
        </tr>
    <% end %>
</table>