<% content_for :breadcrumb do %>
  <%=  breadcrumb [
  		{ "Report" => nil}
  	] %>
<% end %>

<%= render "nav_report" %>

<style>
  form {
    margin: 0px;
  }
</style>


<%= list_header("List of Referral report ", @reports) %>
 
<div class="row-fluid">
    <%= form_tag referral_reports_path(params), :method => "get" do %>
      <%= hidden_field_tag :ignored, params[:ignored] %>
      <%= select_tag :type, options_for_select([
                                                [ "All", ""], 
                                                [ "Clinic", "ClinicReport"],
                                                [ "HealthCenter", "HealthCenterReport"]
                                              ], params[:type]), :id => "referral_report_type"   %> 
    <% end %>
</div>

<%= render "reports" %>
    

<%= content_for :js do %>
  <script> 
    function changeReportType(){
      $("#referral_report_type").change(function(){
        this.form.submit();
      });
    }
    $(function(){
      changeReportType();
    });
  </script>
<% end %>