<% content_for :breadcrumb do %>
  <%=  breadcrumb [
  		{ "Report" => referral_reports_path},
                { "Rectify" => nil}
  	] %>
<% end %>

<%=render_errors_for @report %>

<div class="row-fluid" >

  <div class="well span4" >    
      <h4> Rectify Message </h4>
      <% if !@error.nil? && @error[:error] %>
        <div class="alert alert-error" title="<%= @error[:raw] %>">
          <%= @error[:message]  %>
        </div>
      <% end %>

      <%= form_tag referral_reports_apply_path(:id => @report.id) do %>

        <%= tag_row do %>
          <%=  label_tag  "from" %>
          <%=  text_field_tag "from", @from , :style=> "width: 96%;" %>
        <%end%>

        <%= tag_row do %>
          <%=  label_tag  "body" %>
          <%=  text_field_tag "body", @body , :style=> "width: 96%;" %>
        <%end%>

        <%= tag_row do %>
          <input type="submit" class="btn btn-danger" value="Rectify" name="sumbit" />
        <%end %>
      <% end %>
  </div>

  <div class="span8 well"> 
    <h4> Current report </h4>
         <div class="row-fluid">
            <div class="span4" > Reported from  </div>
            <div class="span8" > 
                <%=@report.sender.phone_number %>  
            </div>
         </div> 
    
        <div class="row-fluid">
            <div class="span4" > Place </div>
            <div class="span8" >
                <%=@report.sender.place.description %>
            </div>
         </div>
    
    
         <div class="row-fluid">
            <div class="span4" > Type  </div>
            <div class="span8" > <%=@report.class == Referral::HCReport ? "HealthCenter" : "Clinic" %>   </div>
         </div> 
    
         <div class="row-fluid">
            <div class="span4" > Text  </div>
            <div class="span8" > <%=@report.text %>   </div>
         </div> 
    </div>  
  </div>
</div>