<% content_for :breadcrumb do %>
  <%=  breadcrumb [
  		{ "Report" => referral_reports_path},
                { "Search" => nil}
  	] %>
<% end %>

<%= render "nav_report" %>
<%= list_header("List of Search report ", @reports) %>
 
<div class="row-fluid" >
  <div class="well">
    <%= form_tag referral_reports_search_path(), :method => "get", :class =>"form-search" do %>
  
     <%=tag_row :class => "span3", :style=>"text-align:right;" do%>
      <label>Report since: </label>
      <div data-date-format="yyyy-mm-dd" data-date="<%=params[:before]%>" id="dp3" class="input-append date datepicker">
            <input type="text" value="<%=params[:before]%>" name="before" size="12" class="span8">
            <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
     <%end %>
  
  
  
      <%= tag_row :class => "input-append input-block-level span3" do %>
        <%= text_field_tag :query, params[:query], :class =>"search-query", :placeholder =>"Type to search"  %>
        <button type="submit" class="btn">Search</button>
      <%end%>
       
    <% end %>
  </div>
</div>
<div class="clear-layout"></div>

<%= render "reports" %>
<%= content_for :js do %>
  <script>
    $(function(){
      $('.datepicker').datepicker()
    });
  </script>
<% end %>    