<% content_for :head do %>
	<%= javascript_include_tag 'jquery.validate.min' %>
	<%= javascript_include_tag 'admin/newusers' %>
<% end %>

<%= form_for(:admin, :url => "importbuckusers") do |form| %>
	<h2> Create Users </h2>

	<div class="field round">
		<%= form.label :csvfile, "Import from CSV file" %>
		<%= form.file_field :csvfile %>
		<%= submit_tag "Upload", :class=> "btn"  %>
		<div class="clear"></div>
	</div>

	<br />  
<% end %>

<%= form_for(:admin, :url => "createusers", :html => { :id => 'createusers'}) do |form|  %>
	<table class="table-grid round" >
		<thead>
			<tr>
				<th><%= t("Name") %> </th>
				<th><%= t("Email") %>  </th>
				<th><%= t("Password") %>  </th>
				<th><%= t("Phone") %>  </th>
				<th><%= t("Place (enter code)") %>  </th>
				<th></th>
			</tr>
		</thead>

		<tbody id="bodyRow">
			<tr class="separator"><td colspan="5">&nbsp;</td></tr>
			<tr id="inputRow">
				<%= input_cell "user_name" %>
				<%= input_cell "email" %>
				<%= input_cell "password", :password => true %>
				<%= input_cell "phone_number" %>
				<%= input_cell "place_code" %>
				<td>
			    	<%= image_tag "add.png", :class => "clickable", :id => "addMoreUser", :alt => "Add user", :title => "Add user" %>
				</td>
			</tr>
		</tbody>
		<tfoot>
		  <tr>
		    <td colspan="5" align="center" > &nbsp; </td>
		  </tr>
		</tfoot>
	</table>
	<div class="right-content">
	  <%= submit_tag "Submit" ,:class=> "btn" %>
	</div>
<%end%>