<div class="row-fluid">
  <div class="span6 well">
    <h4 class="htitle"> User form</h4>
      <% url = @user.new_record? ? referral_users_path : referral_user_path(@user) %>
      <%=render_errors_for @user %>

      <%=form_for @user, :url => url, :id=> :form_user do |form| %>
        <%= hidden_field_tag :md0, params[:md0] %>
        <%= hidden_field_tag :query, params[:query] %>
        <%=tag_row do %>
              <%= form.label :user_name %>
              <%= form.text_field :user_name %>
        <%end%>

      <%=tag_row do %>
              <%= form.label :email, "Email", :no_mark => true  %>
              <%= form.email_field :email %>
        <%end%>

      <%=tag_row do %>
              <%= form.label :phone_number %>
              <%= form.text_field :phone_number %>
        <%end%>

      <% if @user.new_record? %>
        <%=tag_row do %>
              <%= form.label :password, "Passwor", :no_mark => true %>
              <%= form.password_field :password %>
          <%end%>

        <%=tag_row do %>
              <%= form.label :password_confirmation %>
              <%= form.password_field :password_confirmation %>
          <%end%>
      <% end %>

      <%=tag_row do %>
              <%= form.label :role %>
              <%= form.select :role, User::Roles_Ref.map {|role| [role, role]}, { :include_blank => "Select role"} %>
      <%end%>
      <div id="ref_place_active">

      </div>
        <%
          clinic_hide = @user.role == User::ROLE_REF_PROVIDER ? "" : "c-hidden"
          hc_hide = @user.role == User::ROLE_REF_HC ? "" : "c-hidden"
          facilitator_hide = @user.role == User::ROLE_REF_FACILITATOR ? "" : "c-hidden"
        %>
        <%=tag_row :id => "ref_clinic", :class=> "#{clinic_hide}" do %>
                <%= form.label :intended_place_code, "Village" %>
                <%= form.text_field :intended_place_code, :"data-provide" =>"typeahead", "class" => "typeahead",
                "data-type" => "Village",:autocomplete => "off", :id => "ref_clinic_input" %>
        <%end%>

        <%=tag_row :id=>"ref_hc", :class => "#{hc_hide}" do %>
                <%= form.label :intended_place_code, "Health Center" %>
                <%= form.text_field :intended_place_code, :"data-provide" =>"typeahead", "class" => "typeahead",
                 "data-type" => "HealthCenter", :autocomplete => "off", :id => "ref_hc_input" %>
        <%end%>

        <%=tag_row :id=>"ref_facilitator", :class => "#{facilitator_hide}" do %>
                <%= form.label :intended_place_code, "OD" %>
                <%= form.text_field :intended_place_code, :"data-provide" =>"typeahead", "class" => "typeahead",
                 "data-type" => "OD", :autocomplete => "off", :id => "ref_facilitator_input" %>
        <%end%>



      <%=tag_row do %>
              <%= form.label :status %>
              <%= form.select :status, User::Status.sort %>
      <%end%>


      <%=tag_row do %>
        <%= form.label :apps_mask, "Application" %>
        <div style="padding-left: 20px;">
            <% User::APPS.each do |app| %>
              <%= tag_row  do%>
                <% if app == User::APP_MDO %>
                  <%= check_box_tag "user[apps][]", app, @user.apps.include?(app), :class => "user_checkbox_app" , :disabled => "disabled" %>
                  <% if !@user.new_record? %>
                    <%= hidden_field_tag "user[apps][]", app %>
                  <%end%>
          
                <% else %>
                  <%= check_box_tag "user[apps][]", app, @user.apps.include?(app), :class => "user_checkbox_app" %>
                  <%= hidden_field_tag "user[apps][]", "" %>
                <% end %>
                <span title="This option is disabled. Contact your admin for more info"> <%= app.humanize %> </span>
              <% end %>
            <% end %>
        </div>

      <% end %>
      <br />

      <%=tag_row do %>
              <%= form.label ""  %>
              <%= form.submit "Save", :class => "btn btn-primary" %>
        <%end%>
      <%end%>
  </div>

  <div class="span6 well no-bg" >
    <h4 class="htitle"> Tip </h4>
    <p>
    <ul>
      <li> If <span class="field">User name</span>, and  
        <span class="field"> Email </span>
        are blank then you need to provide a 
        <span class="field"> Phone number </span>
      </li>
    </ul>
    </p>
  </div>
</div>
<% content_for :js do %>
  <script >  
    function buildTypeAheadPlace() {
        $('.typeahead').typeahead({
            source: function (query, process) {
                var url = "<%=search_places_path %>";
                var type = this.$element.attr("data-type");
                return $.get( url , { "query" : query, "type" : type }, function (data) {
                    return process(data);
                });
            }
        });
     };

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    function hide(){
      $("#ref_hc, #ref_clinic, #ref_facilitator").hide();
    }

    function handleEvent() {
      $("#user_role").change(function(){
        showPlace();
      });
    }

    function showPlace(){
      hide();
      var role = $("#user_role").get(0);
      if(role.selectedIndex ==1)
           $("#ref_clinic").show();
      else if(role.selectedIndex ==2)
           $("#ref_facilitator").show();

      else if(role.selectedIndex == 3)
          $("#ref_hc").show();
    }

    $("form.edit_user, form.new_user").submit(function(){
         errors = validate();
         if(errors.length){
            alert(errors.join("\n"));
            return false;
         }

         var index = $("#user_role").get(0).selectedIndex;


         if(index == 1 ){
           $("#ref_hc").remove();
           $("#ref_facilitator").remove();
         }
         if(index == 2){
           $("#ref_hc").remove();
           $("#ref_clinic").remove();
         }

         else if( index == 3){
           $("#ref_clinic").remove();
           $("#ref_facilitator").remove();
         }
    });


    function validate(){
      var errors = []
      var phone_number = $("#user_phone_number").val();
      if(empty($("#user_user_name").val()) && empty(phone_number)){
        errors.push("Please enter User name");
      }
      
      if(empty($("#user_user_email").val()) && empty(phone_number)){
        errors.push("Please enter Email");
      }
      
      <% if @user.new_record? %>
          if($("#user_password").val() != $("#user_password_confirmation").val() ){
            errors.push("Password / Confirm password not matched ");
          }
      <% end %>

      if(empty( $("#user_phone_number").val())) {
        errors.push("Please enter Phone number");
      }

      var index = $("#user_role").get(0).selectedIndex;
      if(index == 0){
        errors.push("Please select a role");
      }


      if( index== 1 ) {
        if($("#ref_clinic_input").val() == "")
          errors.push("Please select a Village");
      }
      if( index== 2 ) {
        if($("#ref_facilitator_input").val() == "")
          errors.push("Please select an OD");
      }

      else if(index == 3) {
        if($("#ref_hc_input").val() == "" )
          errors.push("Please select a Health center");
      }

      checkboxs = $(".user_checkbox_app");
      error = true;
      for(var i=0; i< checkboxs.length; i++){
         if(checkboxs.get(i).checked) {
            error = false;
            break;
         }
      }

      if(error){
        errors.push("Please check at least one application");
      }
      return errors;
    }

    function empty(str){
      if($.trim(str) == "")
        return true;
      return false;
    }


    $(function(){
      showPlace();
      handleEvent();
      buildTypeAheadPlace();

    });
  </script>
<% end %>