<%= content_for :breadcrumb do %>
	<%= breadcrumb [
			{"User" => nil}
		] %>
<%end %>

<%=content_for :top do  %>
  <%=tag_row :class => "register_bar" do %>
   <%= register_bar(" Register User", new_referral_user_path) %>
  <% end %>
<% end %>



<%= list_header "List of user", @users %>

<div>
	<table class="table"> 
		<thead>
			<tr>
				<th> Name </th>
				<th> Email </th>
				<th> Phone </th>
				<th> Role </th>
				<th> Place </th>
				<th> Status </th>
				<th width="100"> Action</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
			  <tr>
				<td> <%= user.user_name %> </td>
				<td> <%= user.email %> </td>
				<td> <%= user.phone_number %> </td>
				<td> <%= user.role %> </td>
				<td> <%= user.place.nil? ? "" : user.place.description %>
				<td> <%= user.status_description %> </td>
				<td> 
					<%= link_to "Edit", edit_referral_user_path(user) %> |
					<%= link_to "Delete", referral_user_path(user), :method => :delete, :confirm => "Are you sure to remove"%>
				</td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>