<% content_for :breadcrumb do %>
  <%=  breadcrumb [
  		{ "Report" => referal_reports_path},
                { "Test" => nil}
  	] %>
<% end %>

<div class="row-fluid">
  <% if !@messages.nil? && @messages.size %>
    <h3> SMS(s) sent </h3>
    <table class="table">
      <tr>
        <td width="150">To</td>
        <td>Body</td>
        <td width="100">From</td>
      </tr>
    
      <% @messages.each do |message| %>
        <tr>
          <td><%= message[:to] %> </td>
          <td><%= message[:body] %></td>
          <td><%= message[:from] %></td>
        </tr>
      <%end %>
     </table>  
  <% end %>
</div>  

<div class="row-fluid ">
  <% if !@report.nil? %>
    <h3> Report Generated</h3>
    <% @report.attributes.each do |name, value|  %>
        <div class="span4">
          <span class="label label-info"><%= name %> </span> 
          <span> : </span>
          <% if !value.blank? %>
            <span class="badge badge-important "><%= value %> </span> 
          <% end %>
        </div>
        
    <% end %>
  <%end%>
</div>  
  
    

<div class="row-fluid well">    
<h3> Simulate SMS Message </h3>

<%= form_tag referal_reports_simulate_path do %>

  <%= tag_row do %>
    <%=  label_tag  "from" %>
    <%=  text_field_tag "from", @from, :style=> "width: 450px;" %>
  <%end%>

  <%= tag_row do %>
    <%=  label_tag  "body" %>
    <%=  text_field_tag "body", @body, :style=> "width: 450px;" %>
  <%end%>

  <%= tag_row do %>
    <%=  label_tag  "guid" %>
    <%=  text_field_tag "guid", @guid, :style=> "width: 450px;" %>
  <%end%>

  <%= tag_row do %>
    <input type="submit" class="btn btn-danger" value="Simulate" name="sumbit" />
  <%end %>

<% end %>
</div>    
