<td><%= user.user_name.highlight_search(query).html_safe %> </td>
<td><%= user.email %> </td>
<td><%= user.phone_number.highlight_search(query).html_safe %>  </td>
<td><%= user.encrypted_password.nil? ? '' : '**********' %>  </td>
<td><%= user.place.nil? ? "" : user.place.description.highlight_search(query).html_safe %>  </td>
<td><%= user.role %></td>
<td><%= user.status_description  %></td>
<td>
  <div >
    <%= link_to "Edit", edit_user_path(user) ,:class => "clickable editRow", :id=>"a_#{user.id}", :"data-url" => edit_user_path(user), :"data-rel" => user.id %> |
    <%= link_to "Delete", user_path(user, :page => params[:page]), :method => :delete, :confirm =>"Are you sure you want to delete this user?" %>
  </div>
</td>
