<td><%= user.user_name %> </td>
<td><%= user.email %>  </td>
<td><%= user.phone_number %>  </td>
<td><%= "*" * user.password.size %>  </td>
<td><%= user.place.nil? ? "" : user.place.description %>  </td>
<td><%= user.role %></td>
<td>
  <div >
    <%= link_to "Edit", edit_user_path(user) ,:class => "clickable editRow", :id=>"a_#{user.id}", :"data-url" => url_for("/user_edit/#{user.id}") , :"data-rel" => user.id %> |
    <%= link_to "Delete", user_path(user),:method =>:delete, :confirm =>"Are you sure to remove this user" %>
  </div>
</td>
