<h2> Edit user </h2>
<%form_for [@placeable, User.new] do |form|%>
  <div>
    <%= form.error_messages %>
    <%#=form.errors.count%>
  </div>
  <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name%>
  </div>

  <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email%>
  </div>

  <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
  </div>

  <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
  </div>

  <div class="field action">
    <%= form.submit "Update" %>
  </div>
<%end%>
