<td>
  <%= hidden_field_tag :id, @user[:id]  %>
  <%= input_field_tag :user_name, @user  %>
</td>
<td>
  <%= input_field_tag :email, @user   %>
</td>
<td>
  <%= input_field_tag :phone_number, @user  %>
</td>
<td><%= input_field_tag :password, @user , "password"   %>  </td>
<td><%= input_field_tag :intended_place_code, @user, 'text', :class => :intended_place_code %></td>

<td><%= select_tag(:role ,options_for_select(User::Roles,  (@user.nil?)? "" : @user.send(:role)), {:onchange => "roleChange(this)" } )  %>  </td>

<td>
  <%=  submit_tag "Save", :id => "saveUser_" + @user.id.to_s, :"data-url" => user_path(@user), :name => "updateUser" , :class => "updateUser" %>
  <%=  submit_tag "Cancel", :id => "cancelUser_" + @user.id.to_s,:"data-url" => user_path(@user), :name => "cancelUser", :class => "cancelUser" %>
</td>
<script type="text/javascript" >
    
    var msg = "<%=flash_msg @msg %>" ;

    $("#saveUser_" + <%= @user.id %> ).click(function(e){
      tr = this.parentNode.parentNode;
      var params = {};
      params["id"] =                  $(tr.children[0].children[0]).val();
      params["user_name"] =           $(tr.children[0].children[1]).val();
      params["email"] =               $(tr.children[1].children[0]).val();
      params["phone_number"] =        $(tr.children[2].children[0]).val();
      params["password"] =            $(tr.children[3].children[0]).val();
      params["intended_place_code"] = $(tr.children[4].children[0]).val();
      params["role"] =                $(tr.children[5].children[0]).val();

      if(params["role"] == "default"){
        if(params["intended_place_code"] == ""){
          alert("Please enter place code");
          return false;
        }
      }

      
      var url = $(this).attr("data-url");
      $.ajax({
        url : url,
        cache: false,
        data: params,
        type : "put",
        success: function(responseText, status , responseObj){
          updateRow(params["id"], responseText );
          showNotice();
          if(msg.match(/successfully/i))
            addForm(true);
        }
      });
      return false;

    });

    $("#cancelUser_" + <%= @user.id %> ).click(function(){
       var url = $(this).attr("data-url");
       var id  = <%= @user.id %> ;
       cancelForm(url,id);
      return false;
    });

   function cancelForm(url, id){
      $.ajax({
        url : url,
        method : "get",
        cache : false,
        success: function(responseText, status , responseObj){
          updateRow(id, responseText) ;
          showNotice();
          addForm(true);
        }
      });
   }

    $('.intended_place_code').autocomplete({
      serviceUrl: '<%= autocomplete_places_path %>',
      minChars: 2,
      maxHeight: 300,
      zIndex: 9999,
    });
  </script>
