<% content_for :head do %>
    <%= javascript_include_tag 'jquery.validate.min' %>
    <%= javascript_include_tag 'users/index' %>
<% end %>
<div>
  <h2 style="float:left;" >List of users</h2>
  <div style="float:right;" > <%= link_to "Import users", import_form_users_path, :class=>"import_button" %> </div>
  <div class="clear"></div>
</div>

<%= page_entries_info @users %><br/><br/>

<div class="clear"></div>
<div class="search_box" style="float:right;" >
  <input type="text" id="user_search" class="search" name="user_search" value="<%= params[:query] %>" />
  <script type="text/javascript" >
    $(function(){
      loadingMessage = "Retrieving Users";
      userSearch();
      delegatePaginationItem();
    })
    function delegatePaginationItem(){
      $("div.pagination a").live("click",function(){
        loading(false, loadingMessage);
      });
    }
    function userSearch(){
      $("#user_search").keyup(function(){
         activeRow = 0;
         var url = "<%= users_path() %>"
         var text = this.value;
         if(1){
           loading(document.body, loadingMessage)
           $.ajax({
             url: url,
             data: {query: text },
             type: "get",
             success: function(responseText, status, response){
               loading(document.body).hide();
               $("#content_table").html(responseText)
             }
           });
         }
       });
    }
  </script>
</div>
<h4 class="round msg-error" id="actionNotifier" style="display: none;" > </h4>
<%= render "list_users" %>
