<% content_for :head do %>
    <%= javascript_include_tag 'jquery.validate.min' %>
    <%= javascript_include_tag 'users/index' %>
<% end %>
<div>
  <h2 style="float:left;" >List of users</h2>
  <div style="float:right;" > <%= link_to "Import users", import_form_users_path, :class=>"import_button" %> </div>
  <div class="clear"></div>
</div>

<%= page_entries_info @users %><br/><br/>

<div class="clear"></div>
<h4 class="round msg-error" id="actionNotifier" style="display: none;" > </h4>
<div class="pagination_container"><div class="pagination">&nbsp;</div> <%= will_paginate @users %> </div>
<div class="clear"> </div>
<%= render :partial => "list_users", :locals => { :users => @users, :user => @user} %>
