<%= form_for "setting", :url=> update_alert_config_path, :method =>"post", :html=>{:id=>"adminForm"}  do |form| %>
<ul class="no-style" >
  <li>
    <h2 class="separator" > Provincial alert </h2>
    <ul  class="no-style"  >
      <li>
       <%= radio_button("setting", :provincial_alert , 0, :checked => @provincial_alert== "0" ) %>
        <label for="setting_provincial_alert_0" > Disable </label>
      </li>
      <li>
       <%= radio_button("setting", :provincial_alert , 1, :checked => @provincial_alert == "1"  ) %>
       <label for="setting_provincial_alert_1" > Alert done whenever system sent the alert to OD </label>
      </li>
    </ul>
  </li>

  <li>
    <h2 class="separator" > National alert </h2>
    <ul  class="no-style"  >
      <li>
       <%= radio_button("setting", :national_alert , 0, :checked => @national_alert=="0" ) %>
       <label for="setting_national_alert_0" > Disable </label>
      </li>
      <li>
       <%= radio_button("setting", :national_alert , 1, :checked => @national_alert=="1" ) %>
       <label for="setting_national_alert_1" > Alert done whenever system sent the alert to OD </label>
      </li>
    </ul>
  </li>

  <li>
    <h2 class="separator" > Administrator alert </h2>
    <ul  class="no-style"  >
      <li>
       <%= radio_button("setting", :admin_alert , 0, :checked => @admin_alert=="0" ) %>
       <label for="setting_admin_alert_0" > Disable </label>
      </li>
      <li>
       <%= radio_button("setting", :admin_alert , 1, :checked => @admin_alert=="1" ) %>
       <label for="setting_admin_alert_1" > Alert done whenever system sent the alert to OD </label>
      </li>
    </ul>
  </li>
  <li><h2 class="separator"></h2> </li>
  <li >
    <h2 style="text-align: left; width: 60%;" >
    <%= form.submit :Update %>
    </h2>
  </li>


</ul>
<% end %>