<h2>Templates</h2>

<%= form_for 'templates' do |f| -%>
  <% if @templates.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@templates.errors.count, "error") %> prohibited you from updating the templates:</h2>
        <ul>
          <% @templates.errors.each do |attribute, error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <% Templates::Keys.each do |key, value| %>
    <p class="template_container">
      <%= f.label key, "Template for #{value[:label]}" %><br/>
      <%= f.text_area key, :size => '60x3' %><br />
      <%= parameters_links key %>
    </p>
  <% end %>

  <%= f.submit %>
<% end -%>

<style>
  .template_container {
    padding-bottom: 10px;
  }
</style>

<script type="text/javascript">
  $(function() {
      $('.parameter_link').click(function() {
        var $this = $(this);
        var $input = $('#templates_' + $this.attr('data-id'));
        $input.replaceSelection($this.text());
        return false;
      });
  });
</script>
