<h2>Templates</h2>

<%= form_for 'templates' do |f| -%>
  <% if @templates.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@templates.errors.count, "error") %> prohibited you from updating the templates:</h2>
        <ul>
          <% @templates.errors.each do |attribute, error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <p class="template_container">
    <%= f.label :single_village_case_template, 'Template for individual case report from a village malaria worker' %><br/>
    <%= f.text_area :single_village_case_template, :size => '60x3' %><br />
    <%= parameters_links :single_village_case_template %>
  </p>

  <p class="template_container">
    <%= f.label :single_hc_case_template, 'Template for individual case report from a health center' %><br/>
    <%= f.text_area :single_hc_case_template, :size => '60x3' %><br />
    <%= parameters_links :single_hc_case_template %>
  </p>

  <p class="template_container">
    <%= f.label :aggregate_village_cases_template, 'Template for aggregated cases report at village level' %><br/>
    <%= f.text_area :aggregate_village_cases_template, :size => '60x3' %><br />
    <%= parameters_links :aggregate_village_cases_template %>
  </p>

  <p class="template_container">
    <%= f.label :aggregate_hc_cases_template, 'Template for aggregated cases report at health center level' %><br/>
    <%= f.text_area :aggregate_hc_cases_template, :size => '60x3' %><br />
    <%= parameters_links :aggregate_hc_cases_template %>
  </p>

  <%= f.submit %>
<% end -%>

<style>
  .template_container {
    padding-bottom: 10px;
  }
</style>

<script type="text/javascript">
  $(function() {
      $('.parameter_link').click(function() {
        var $this = $(this);
        var $input = $this.parents('.template_container').children('textarea');
        $input.replaceSelection($this.text());
        return false;
      });
  });
</script>
