<% if editing && editing == alert.id %>
	<tr style="background-color:#FEEECC;">
<% else %>
	<tr>
<% end %>
		<td>
			<%= alert.recipient.description %>
		</td>
		<td>
			<%= alert.source_description %>
		</td>
		<td>
			<%= alert.threshold %>
		</td>
		<td>
			<%= link_to 'Edit', edit_alert_path(alert) %> | <%= link_to 'Delete', alert_path(alert), :method => :delete %>
		</td>
	</tr>