<% content_for :breadcrumb do %>
  <%=breadcrumb [
  		{ "Dynamic variables" => referal_fields_path },
  		{ "Edit - #{@field.name}(#{@field.meaning})" =>  edit_referal_field_path(@field)  },
                { "Constraints" => referal_field_constraints_path(@field)},
                { "New"  => nil }
  	] %>
<% end %>

<% content_for :bottom do  %>
  <div class="well" style="background: #fff;"> <%= render :partial => "list", :locals=> {:field => @field} %> </div>
<% end %>

<% content_for :sidebar_right do %>
 <div class="well" > <%= render :partial => "referal/fields/detail", :locals => { :field => @field, :button => false} %> </div>
<% end %>

 <div class="well" style="padding: 10px; background: #fff;" >  
       <%= form_tag referal_field_constraints_path(@field), :id => "constraint-form"  do |form| %>
          <h3> Constraints</h3>
          <%= hidden_field_tag "field_id", @field.id %>
          <%= label_tag "constraint_type" %>
          <%=  select_tag "constraint_type", options_for_select(Referal::Field::Constraint) %>
          <div id="constraint-element"> </div>
        <% end %>
</div>

<%= content_for :js  do %>
<script>
 $(function(){
   /*
    $("#add-constraint").live("click", function(){
          var url = $("#constraint-form").attr("action");
          alert(url);
          $.ajax({
            type    :  "POST",
            url     : url,
            data    : $("#constraint-form").serialize(),
            success : function(text) {
              $("#constraint-list").html(text);
            }
          })
          return false;
     });
      */
     $("#constraint_type").change(function(){
          if(this.selectedIndex == 0)
            return;
          text = this.options[this.selectedIndex].text;
          $.ajax({
            url: "<%=referal_constraints_view_path%>",
            data: {type: text},
            success: function(text) {
              $("#constraint-element").html(text);
            }
          })
      });
  });
</script>
<% end %>