<% content_for :sidebar_right do %>&nbsp;<%end%>
<%= form_tag referal_message_formats_save_path, :method => "Post" do  %>
  <div>
    <div  >
        <h3> Private Provider </h3>
        <div class="well format-container" id="formats_clinic" data-id="txt_clinic" ><%#=  message_format(@clinic.format) %></div>
        <div> 
          <% Referal::Field.tags_clinic.each do |field_tag| %>
            <a href="#" class="parameter_link"  data-id="clinic" >{<%= field_tag %>}</a>
          <% end %>
        </div>
        <textarea  class="textarea-data" id="txt_clinic"  data-id="formats_clinic" name="referal_message_format[clinic]" ><%=@clinic.format %></textarea>
    </div>

    <div >
        <h3> Health Center </h3>
        <div class="well format-container"  id="formats_hc" data-id="txt_hc" ><%#=  message_format(@hc.format) %></div>
        <div> 
          <% Referal::Field.tags_hc.each do |field_tag| %>
            <a href="#" class="parameter_link"  data-id="hc" >{<%= field_tag %>}</a>
          <% end %>
        </div>
        <textarea class="textarea-data" id="txt_hc" data-id="formats_hc" name="referal_message_format[hc]" ><%=@hc.format %></textarea>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <%=tag_row do %>
    <%= submit_tag "Save", :class => "btn btn-primary" %>
  <%end %>
<% end %>


<style>
    .remove-sign:hover{
      background-color: #ddd;
      background-image:url("../images/trash-icon.png");
      background-position: right center;
      background-repeat: no-repeat;
    }
    .remove-sign , .remove-sign:hover {
      border-radius: 4px;
      padding: 3px;
      border: 1px solid #eee;
      padding-right: 16px;
      text-decoration: none;
      cursor: pointer;
      line-height: 2;
      word-wrap: normal;
    }
    .separator-format{
      padding: 0px 5px;
      font-weight: bold;
    }
    .format-container{
      background: #fff;
    }
    .textarea-data{
      display: none;
    }
</style>

<% content_for :js do %>
  <%= javascript_include_tag "jquery.fieldSelection" %>
  <script >

    var separator = "<%= Referal::MessageFormat::Separator %>" ;
    function itemChanged($container){
      $txt = $("#"+ $container.attr("data-id"))
      $formats = $container.find("." + removeSign() );
      items = []
      for(var i=0; i< $formats.length; i++) {
        text = $($formats.get(i)).text();
        items.push(text);   
      } 
      $txt.val(items.join(separator));
    }

    function addItem($container, itemText ){
      $formats = $container.find("." + removeSign() )
      result = [];
      for(var i=0; i< $formats.length; i++) {
        text = $($formats.get(i)).text();
        if( $.trim(text) == $.trim(itemText) ){
          alert("Item exist");
          return ;
        }
        result.push(wrapText(text));
      }
      if($.trim(itemText))
        result.push(wrapText(itemText));
      $container.html(result.join(separatorText()));
      itemChanged($container);

    }

    function removeItem($container, itemText ){
      $formats = $container.find("." + removeSign() )
      result = [];
      for(var i=0; i< $formats.length; i++) {
        text = $($formats.get(i)).text();
        if( $.trim(text) != $.trim(itemText) ){
          result.push(wrapText(text));
        }       
      } 
      $container.html(result.join(separatorText()));
      itemChanged($container);
    }

    function removeSign(){
      return "remove-sign" ;
    }

    function separatorText(){
      return "<span class='separator-format'>" + separator+ "</span>";
    }

    function wrapText(text) {
      return "<a class='" + removeSign() + "' >" +text + "</a>";
    }

    
    
    function loadFromTextToDiv(id){
      $txt = $("#"+id);
      format = $txt.val();
      if($.trim(format) == "")
        return ;
      items = format.split(separator);
      
      
      
      result = [];
      for(var i=0; i<items.length; i++){
         text = items[i] ;
         result.push(wrapText(text));
      }
      $container = $("#"+ $txt.attr("data-id"))
      
      $container.html(result.join(separatorText()));
      
      
    }
    
    function liveRemoveLink(){
      $("." + removeSign()).live("click", function(){
        $this = $(this);
        text = $this.text();
        $container = $this.parent(); 
        removeItem($container, text);
        return false;
      });
    }
    
    function parameterLink(){
      $('.parameter_link').click(function() {
          var $this = $(this);

          $container = $("#formats_" + $this.attr('data-id')); 
          addItem($container, $this.text());
          return false;
      });
    }

    $(function(){
      parameterLink();
      liveRemoveLink();
      loadFromTextToDiv("txt_clinic");
      loadFromTextToDiv("txt_hc");
      
    });
  </script>
<% end %>