<h2>Thresholds</h2>

<%= form_for @threshold do |f| %>
OD:
<select id="od_id" name="od_id" onchange="window.location.href='<%=thresholds_path%>?od_id='+$(this).val()">
  <option value="">All provinces/districts</option>
  <%= option_groups_from_collection_for_select(@provinces, :ods, :description, :id, :description, @od ? @od.id : '') %>
</select>

<br/>

<% if @od -%>
<%= f.select :place_code, enum_for(:hc_and_villages, @od, @health_centers), {}, {:onchange => %(window.location.href='#{thresholds_path}?od_id='+$('#od_id').val()+'&threshold[place_code]='+$(this).val())} %>

<%= f.number_field :value %>
<%= f.submit %>
<% end -%>

<table width="100%" class="round full table-grid">
  <thead>
    <tr>
      <th>Province</th>
      <th>OD</th>
      <th>Health Center</th>
      <th>Village</th>
      <th>Threshold</th>
      <th></th>
    </tr>
  </thead>
  <% @thresholds.each_with_index do |threshold, i| %>
    <tr class="<%= i.parity %> <%= 'edit' if threshold == @threshold %>">
      <td><%= render_threshold_table_cell(threshold, Province) %></td>
      <td><%= render_threshold_table_cell(threshold, OD) %></td>
      <td><%= render_threshold_table_cell(threshold, HealthCenter) %></td>
      <td><%= render_threshold_table_cell(threshold, Village) %></td>
      <td><%= threshold.value %></td>
      <td>
        <%= link_to 'edit', threshold %> &nbsp; &nbsp;
        <%= link_to 'delete', threshold, :method => :delete, :confirm => 'Are you sure?' %>
      </td>
    </tr>
  <% end -%>
</table>

<% end -%>
