<%= content_for :breadcrumb do %>
 <%= breadcrumb [ {"Field" => nil} ] %>
<%end %>
<%=content_for :sidebar_right  do %> 
 &nbsp;
<%end%>

<%= form_tag referal_fields_bulk_path, :method => :post  do |form|   %>
  <div>
	<table class="table"> 
		<thead>
			<tr >
				<th> Name </th>
				<th> Meaning </th>
				<th> Template </th>
                                <th > 
                                  Order /
                                  <input type="image" src="/images/save.png" />    
                                        
                                      
                                
                                </th>
				<th> </th>
			</tr>
		</thead>

		<tbody>
			<% 5.times do |i| %>
			  <tr>
                                <td style="color: gray;" > <%= Referal::Field.columnize(i+1) %> </td>
                                <%
                                  field =  Referal::Field.fields_set_exist(@fields, i+1)
                                  
                                %>
                                <% if field %>
                                  <td> <%= field.meaning %> </td>
                                  <td title="<%= field.template %>"> <%= truncate(field.template, :length => 50) %>  </td>
                                  <td align="right"> 
                                        <%= Referal::Field::FieldName %> 
                                        <%= text_field_tag   "referal_field[#{field.id}]", field.position, :class => :position %> 
                                  </td>
                                  <td> 
                                      
                                      <%= link_to "Edit", edit_referal_field_path(field) %> |
                                      <%= link_to "Constraints", new_referal_field_constraint_path(field) %> |
                                      <%= link_to "Delete", referal_field_path(field), :method => :delete, :confirm => "Are you sure to remove"%>
                                  </td>
                                <% else %>
                                  <td>  </td>
                                  <td>  </td>
                                  <td>  </td>
                                  <td> 
                                        <%= link_to "Create", new_referal_field_path(:position => i+1  ) %> 
                                  </td>
                                <% end %>
			  </tr>
			<% end %>
		</tbody>
	</table>
  </div>
<%end%>