<style>
  .row div[class*="span"] {
        margin-left : 0px;
   }
</style>

<%= form_tag referral_templates_update_configs_path, :method => "post" do %>
     <%
       template_sections = [
         {:title => "Private provider Template" , :templates =>  Templates::KeyReferrals[0..2]},
         {:title => "HealthCenter Template", :templates => Templates::KeyReferrals[3..5]},
         {:title => "Error Template", :templates => Templates::KeyReferrals[6..-1]},
         
       ]
     %>  

     <% template_sections.each do |section| %>
      <div class="well" >
          <h3 class="row-fluid htitle "> <%= section[:title] %> </h3>
          <% section[:templates].each do |template| %>
             <div style="padding-bottom:20px;padding-left: 50px;" >
                  <b><%=label_tag "#{template[:key]}", "#{template[:label]}", :style=> "display:inline;" %> </b>
                  <% if !template[:hint].nil?  %>
                  : <span style="font-size: 90%;">(<%= template[:hint] %>)</span>
                  <% end %>
                  <%= text_area_tag "templates[#{template[:key]}]", Setting[template[:key]], :id => "#{template[:key]}",  :style=> "width:90%;height: 60px;" %>
                  <div>
                    <% template[:params].each do |item| %>
                      <a href="#" class="parameter_link" data-id="<%=template[:key]%>" >{<%= item %>}</a>
                    <% end %>
                  </div>  
            </div>
          <% end %>
      </div>
     <% end %>
     <input type="submit" value=" Save " class="btn btn-danger" />
<%end %>

<% content_for :js do %>
<%= javascript_include_tag "jquery.fieldSelection" %>
  <script type="text/javascript">
    $(function() {
        $('.parameter_link').click(function() {
            var $this = $(this);
            var $input = $('#' + $this.attr("data-id"));
            $input.replaceSelection($this.text());
            return false;
        });
    });
  </script>
<% end %>

