<%= will_paginate @reports %>
<div class="infoTip"  >
  <% if(@reports.size > 0) %>
  <div style="text-align: right;margin: 10px 50px 10px 10px;">
    <span><a href="" rel="" onclick="getPushPins('<%= @id  %> ');return false;" > Go deeper </a> </span>
  </div>
  <table class="round" >
    <tr>
      <th> Date </th>
      <th> Species </th>
      <th> Sex </th>
      <th> Age </th>
      <th> Reporter </th>
      <th> Mobile</th>
    </tr>
      <% @reports.each_with_index do |report,index| %>
        <tr class="<%= (index%2==0)?"pair":"impair" %> " >
          <td> <%= report.created_at.to_datetime.strftime("%Y-%m-%d")  %>   </td>
          <td> <%= get_malaria_type(report.malaria_type) %>  </td>
          <td> <%= report.sex %>  </td>
          <td> <%= report.age %>  </td>
          <td> <%= report.sender.user_name %> </td>
          <td> <%= (report.mobile)?"Yes": "No" %> </td>
        </tr>
      <% end %>
  </table>
  <% else %>
    <div class="msg-notice round"> No report has been reported </div>
  <% end %>
</div>
<% if(@reports.size > 7) %>
  <br />
  <%= will_paginate @reports %>
<%  end%>
