<%= will_paginate @reports %>
<div class="clear"></div>
<div >
  <% if(@reports.size > 0) %>
  <div style="float:left;width:300px;"><%= @place.type  %></div>
  <% if(@place.type != "Village") %>
    <div style="float:right;text-align: right;margin-right: 5px; width:200px;" >
        <%= link_to "Explore more ...", map_view_map_visualizations_path(:place =>params[:id]) %>
    </div>
  <% end %>
  <div class="clear"></div>

  <table style="border:1px solid #ccc;" class="round table-grid full"  >
    <thead>
      <tr>
        <th> Date </th>
        <th> Type </th>
        <th> Mobile</th>
        <th> Sex </th>
        <th> Age </th>
        <th> Reporter </th>
        <th> Source</th>
        <th> Village</th>
        <th> Phone</th>
      </tr>
    </thead>
    <% @reports.each_with_index do |report,index| %>
      <tr class="<%=  index.parity  %> " >
        <td> <%= time_ago_in_words report.created_at  %> ago   </td>
        <td> <%= report.get_full_malaria_type %>  </td>
        <td> <%= (report.mobile)?"Yes": "No" %> </td>
        <td> <%= report.sex[0,1] %>  </td>
        <td> <%= report.age %>  </td>
        <td> <%= report.sender.user_name %> </td>
        <td> <%= report.sender.place.class.to_s %> </td>
        <td> <%= (report.village)? report.village.name_with_code : ""  %> </td>
        <td> <%= report.sender.phone_number %> </td>
        
      </tr>
    <% end %>
    <tr><td colspan="6" ></td></tr>
  </table>
  <br />
  <% else %>
      <div class="msg-notice round" style="width: 90%;"> No report has been reported </div>
  <% end %>
</div>
<% if(@reports.size > 7) %>
  <br />
  <%= will_paginate @reports %>
<%  end%>
