<% content_for :head do %>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
   <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"  %>
   <%= javascript_include_tag "jquery.gmap.min"  %>
   <%= javascript_include_tag "styled_marker"  %>
   <%= javascript_include_tag "map.min"  %>
   <%= javascript_include_tag "jquery-ui-1.8.13.custom.min"  %>
   <%= javascript_include_tag "jquery.cookies.2.2.0.min"  %>
   <%= javascript_include_tag "map.markerwithlabel"  %>
   <%= stylesheet_link_tag "jquery-ui-1.8.13.custom"  %>
   <script type="text/javascript">

    $(function(){

        loading("#map_canvas");
        MD.createMap("#map_canvas");

        //renderPushPin(places,clouds);

        $("#slide_min").html ( MD.date.getDateAfter(60) );
        $("#slide_selected").html( MD.date.getDateAfter(0)  );
        $("#slide_max").html( MD.date.getDateAfter(0) );


        var param = loadMapCookie();
        MD.visualize.create();
        MD.visualize.updateType(param["time"]);
        MD.visualize.setValue(param["slide_value"]);



        buildActionType();
        buildCalendar();
        buildPaginatorItemClick();
        //buildBCElement();
        showClick();

        //MD.bcUI.create("#breakcrump");
        getPushPins(<%= @place_id %>)
        loading("#map_canvas");

     });

     function buildBCElement(){
       var bcElement = $(".bcElement");
       bcElement.live("click",function(){
         getPushPins(this.rel);
         return false;
       })
     }

     function loadMapCookie(){
       var param = $.cookies.get("mapvisual") || {
          time : "week",
          //slide_value: 0
       };

       $("input[name=time]").each(function(){
         if(this.value == param["time"])
           this.checked = true;
       });

       $("#malaria_type > option").each(function(i){
         if(this.value == param["malaria_type"]){
            $("#malaria_type").get(0).selectedIndex = i;

         }
       });

       $("#from").val(param["date_from"]);
       $("#to").val(param["date_to"]);
       return param;
     }

     function setMapCookie(){

       var time = "year" ;
       $("input[name=time]").each(function(){
          if(this.checked){
            time = this.value;
          }
       })
       var param = {
                    time : time,
                    malaria_type : $("#malaria_type").val(),
                    date_from : $("#from").val(),
                    date_to : $("#to").val(),
                    slide_value: MD.visualizor.slider("value")
       }
       console.dir(param);
       $.cookies.set("mapvisual",param);
     }

     function setMapCookieElm(key , value){
       var param = $.cookies.get("mapvisual") || {}
       param[key] = value
       $.cookies.set("mapvisual", param);
     }

     function showClick(){
       $("#show_report").click(function(){
          var id = $("#place_id").val();
          getPushPins(id);
          setMapCookie();
          return false;
       });
     }

     function buildCalendar(){
       $(".calendar").datepicker({
         dateFormat : "yy-mm-dd",
         changeYear : true,
         changeMonth: true
       });
     }

     function buildActionType(){
       $("input[name=time][type=radio]").click(function(){
         MD.visualize.updateType(this.value);
       })
     }

     function renderPushPin(result){
       MD.removeMarkers();

       var places = result["place"];
       var clouds = result["cloud"];

       for(var i=0; i< places.length; i++){
         if(places[i]["total"] == 0 )
           continue;
           var options = {

               lat : places[i]["lat"] ,
               lng:  places[i]["lng"] ,
               title: places[i]["name"]+": " + places[i]["total"]  ,
               icon : "<%= root_url  %>images/pushpins/" + clouds[places[i].name].size + ".png",
               place_id : places[i]["id"],

               labelContent:  places[i]["name"]+": " + places[i]["total"],
               labelAnchor: new google.maps.Point(50, 0),
               labelClass: "markerLabels round", // the CSS class for the label
               labelStyle: {opacity: 0.7}
            }
            var marker = MD.createMarkeWithLabel(options)

           //var marker = MD.createMarker(options);
           //var marker = MD.createStyledMarker(options);

           MD.createEvent(marker, 'dblclick', function(){
             getPushPins(this.place_id);
           });

           MD.createEvent(marker,'click', function(){
              MD.activeMarker = this;
              getListReport(this.place_id);
           });
        }

        // if(typeof result["parent"] != "undefined")
        //  $("#place_id").val(result["parent"].paren_id);

        if(places.length >1)
          MD.boundBox();
        else{
          MD.centerTo(places[0]["lat"], places[0]["lng"]);
        }

        /*
        var zoom = MD.map.getZoom()+1;

        var center = MD.map.getCenter();
        setTimeout(function(){
          MD.map.setZoom(zoom);
          MD.map.setCenter(center);
        }, 100);
        */


     }

     function getListReport(id){
       $("#ajax_loading").show();
       MD.date.toCalender();
       var from = $("#from").val();
       var to = $("#to").val();
       var type = $("#malaria_type").val();
       var url = "<%= map_visualizations_url %>"
       $.ajax({
         url:url,
         cache : false,
         data : {"from": from, "to" : to,"id":id, "type": type},
         success: handleListReport
       });
     }

     function getListReportByItem(url){
       $("#ajax_loading").show();
       $.ajax({
         url:url,
         cache : false,
         success: handleListReport
       });
     }

     function handleListReport(result, status, responseObj){
         $("#ajax_loading").hide();
         var info = MD.getInfoWindow();
         info.setContent(result);
         info.open(MD.map,MD.activeMarker);
         //buildPaginatorItemClick();
     }

     function buildPaginatorItemClick(){
       var items =$("div.pagination > a");
       items.live("click",function(){
          var url = this.href ;
          console.log(url);
          getListReportByItem(url);
          return false;
       });
     }


     function getPushPins(id){
       $("#place_id").val(id); //update state of the current click pushpin
       $("#ajax_loading").show();
       MD.date.toCalender();
       var from = $("#from").val();
       var to = $("#to").val();
       var type = $("#malaria_type").val();

       var url = "<%= map_report_map_visualizations_url %>.json"
       $.ajax({
         url:url,
         dataType: "json",
         cache : false,
         data : {"from": from, "to" : to,"id":id, "type": type},
         success: function(result, status, responseObj){

           $("#ajax_loading").hide();
           renderPushPin(result);

           if(typeof result["parent"] !="undefined"){
            //MD.bcUI.setAsObj(result["parent"]);
            //MD.bcUI.show(result["parent"]["type"]);
           }
           //buildBCElement();
         }

       });
       return false;
     }
   </script>
 <% end %>
<% content_for :reports do  %>
 <div style="margin: 0 auto;">
   <div >
     <div id="breakcrump">
       <span class="bcElement" ></span>
     </div>
   </div>
   <div class="clear"></div>

   <div id="map_canvas">Your browser doesn't support map</div>
   <input type="hidden" id="place_id" name="place_id" value="<%=  @place_id %>" />
   <br />
   <div id="slide_status" ></div>
   <div class="slidePanel round">
      <div id="slider" ></div>
      <div class="slide_label" >
        <div style="float:left;width: 200px;">  <span class="round" id="slide_min" > </span></div>
        <div style="float:right;width: 200px;text-align:right;">  <span class="round" id="slide_max" > </span></div>
        <div style="float:left;width: 200px;margin-left: 245px;"> <span class="round" id="slide_selected" > </span></div>
        <div class="clear" >&nbsp;</div>
      </div>

      <div class="slide_control">
        <div class="slideOption" >
            <span class="round">
              <input type="radio" name="time" value="day" id="day"  />
              <label for="day" > Day </label>
            </span>
        </div>
        <div class="slideOption" >
            <span class="round"><input type="radio" name="time"  value="week" id="week" />
              <label for="week" > Week </label>
            </span>
        </div>
        <div class="slideOption" >
          <span class="round"> <input type="radio" name="time"  value="month" id="month" />
             <label for="month" > Month </label>
           </span>
        </div>
        <div class="slideOption" >
          <span class="round">
            <input type="radio"  name="time" value="year" id="year" checked />
            <label for="year" > Year </label>
          </span>
        </div>

        <div class="slideOption" >
          <span class="round">
            <input type="radio"  name="time" value="custom" id="custom" />
            <label for="custom" > Custom </label>
          </span>
        </div>


        <div id="customOption" class="round" >

          <div class="slideOption" >
            <span class="round">
              <label for="custom" > From </label> <br />
              <input type="text" class="calendar round"  value="" id="from" name="from" />
            </span>
          </div>

          <div class="slideOption" >
            <span class="round">
              <label for="custom" > To </label> <br />
              <input type="text"  class="calendar round" value="" id="to" name="to" />
            </span>
          </div>
        </div>

        <div class="clear" >&nbsp;</div>
      </div>
      <div style="margin-top:10px;">
        <div class="slideOption" style="width:150px;" >
          <span class="round">
             <label for="malaria_type" > Malaria type: </label>
             <%= select_tag(:malaria_type ,options_for_select(["All","Pf", "Pv"],  (@user.nil?)? "" : @user.send(:role)), {} )  %>

          </span>
        </div>

        <div class="slideOption" style="width:150px;" >
          <span class="round">
            <%= button_to "Show",  {:method =>"get"},:id=>"show_report" %>
          </span>
        </div>
        <div class="clear" >&nbsp;</div>
      </div>
   </div>
 </div>
<% end %>


