<% content_for :head do %>
   <%= javascript_include_tag "jquery-ui-1.8.13.custom.min"  %>
   <%= stylesheet_link_tag "jquery-ui-1.8.13.custom"  %>
   <script type="text/javascript" >
    $(function(){
        $(".calendar").datepicker({
           dateFormat : "yy-mm-dd",
           changeYear : true,
           changeMonth: true
        });

        $("#report_form").submit(function(){
               loading($(document.body));
        });
        $("div.pagination > a").click(function(){
           loading($(document.body));
        })

        $("div.pagination > a").click(function(){
           loading($(document.body));
        })
    });

    function loading(container){
       var map = $(container);
       var loading = $("#ajax_loading")
       var pos =  map.offset();

       var loading_width = loading.width();
       var loading_height= loading.height();

       var width = map.width();
       var height = map.height();

       var top = pos.top + (height/2) -(loading_height/2) + "px" ;
       var left = pos.left + (width/2) -(loading_width/2) + "px" ;

       $("#ajax_loading").css("left",left);
       $("#ajax_loading").css("top",top);
       $("#ajax_loading").show();
       return $("#ajax_loading");
     }
  </script>
<% end %>

<% content_for :reports do %>

<div class="round report"  >
  <%= form_tag report_form_reports_path, {:method=>"get", :id =>"report_form"} do  %>
      <%= hidden_field_tag :place, params[:place] %>
      <div class="input">
        <%
          to = Time.now
          from = to.to_i - 7 * 24 * 3600
          from  = Time.at(from)

        %>
        <%= label_tag :from %>
        <%= text_field_tag :from ,params[:from].present? ?params[:from]: from.strftime("%Y-%m-%d")  ,:class =>"calendar round"  %>

        <%= label_tag :to   %>
        <%= text_field_tag :to ,params[:to].present? ? params[:to] : to.strftime("%Y-%m-%d") , :class=>"calendar round " %>
      </div>

      <div class="input" >
        
        <%= radio_button_tag :place_type , "Village", true %>
        <%= label_tag "place_type_Village", "Village " %>
        

        <%= radio_button_tag :place_type, "HealthCenter",  params[:place_type] == "HealthCenter" %>
        <%= label_tag "place_type_HealthCenter", "HealthCenter" %>
      </div>

      <div class="input" >
        
        <%= radio_button_tag :ncase, "1", true %>
        <%= label_tag "ncase_1", "Reported" %>
        

        <%= radio_button_tag :ncase, "0", params['ncase'] == "0" %>
        <%= label_tag "ncase_0", "Not reported" %>
      </div>
      <span> <%= submit_tag "Show report" , :name => nil  %>  </span>
  <% end %>
 </div>
  <div id="ajax_loading" class="loading round" >Waiting for server response</div>
<% end %>
