<table class="round full table-grid" style ="border: 1px solid #ccc;" >
      <thead>
        <th width="20" > No </th>
        <th width="200" ><%= params[:place_type]%></th>
        <th width="50" > Code </th>
        <th width="50" > Total </th>
        <th> HealthCenter</th>
        <th> OD </th>
        <th> Province </th>
      </thead>
      <%
      page = params[:page].to_i == 0 ? 1 : params[:page].to_i
      @reports.each_with_index do |report, index|
        place = params[:place_type] == 'Village' ? report.village : report.health_center
        attr = {:place_id => place.id, :from => params[:from], :to => params[:to]}
      %>
      <tr class="<%= index.parity %>" >
        <td style="color:gray;" > <%=   (page-1) * 25 + index + 1  %> </td>
        <td> <%= link_to  place.name, report_detail_reports_url(attr), :class => "report_detail"  %></td>
        <td> <%= place.code  %>   </td>
        <td> <%= report.total %>  </td>
        <td> <%= place.health_center.name_with_code %> </td>
        <td> <%= place.od.name_with_code %> </td>
        <td> <%= place.province.name_with_code %> </td>
      </tr>
    <% end %>
</table>
