<% content_for :reports do %>
  <h3>Edit incorrect message from <%= @report.sender.try(:user_name) %> <%= @report.sender_address %> with text <%= @report.text %></h3>
  <%= form_for @report.becomes(Report) do |f| %>
    <% [:error, :place, :page].each do |key| %>
      <input type="hidden" name="<%= key %>" value="<%= params[key] %>" />
    <% end %>
    <% if @report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@report.errors.count, "error") %> prohibited you from editing this message:</h2>
        <ul>
          <% @report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :malaria_type, 'Type' %><br/>
      <%= f.select :malaria_type, options_for_select(['Select one...', 'F', 'V', 'M'], @report.malaria_type) %>
    </p>
    <p>
      <%= f.label :sex %><br/>
      <%= f.select :sex, options_for_select(['Select one...', 'Male', 'Female'], @report.sex) %>
    </p>
    <p>
      <%= f.label :age %><br/>
      <%= f.number_field :age %>
    </p>
    <p>
      <%= f.label :village_id %><br/>
      <%= f.select :village_id, grouped_options_for_select(@villages, @report.village_id) %>
    </p>
    <%= f.submit %>
  <% end %>
<% end %>
