<% content_for :reports do %>
  <%= page_entries_info @reports, :entry_name => 'message' %><br/><br/>
  <%= will_paginate @reports %>

  <% if @reports.any? %>
    <table class="table">
      <tr>
        <th>Sender</th>
        <th>Sender number</th>
        <th>Text</th>
        <th>Type</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Mobile?</th>
        <th>Reported at</th>
        <th>Health Center</th>
        <th>Village</th>
        <th>Date</th>
      </tr>
      <% @reports.each_with_index do |report, i| %>
        <tr class="<%= i.odd? ? 'odd' : 'even' %>">
          <td><%= report.sender.try(:user_name) %></td>
          <td><%= report.sender_address.try(:without_protocol) %></td>
          <td><%= report.text %></td>
          <% if report.error? %>
            <td style="color:#600" colspan="3" align="center"><%= report.error_message %> <%= link_to 'click to edit', edit_report_path(report, params.slice(:error, :place, :page)) %></td>
          <% else %>
            <td><%= report.malaria_type %></td>
            <td><%= report.age %></td>
            <td><%= report.sex %></td>
          <% end %>
          <td><%= report.mobile? ? 'Yes' : 'No' %></td>
          <td><%= report.type == 'HealthCenterReport' ? 'health center' : 'village' unless report.error? %></td>
          <td><%= report.health_center.try(:short_description) %></td>
          <td><%= report.village.try(:short_description) %></td>
          <td><%= time_ago_in_words report.created_at %> ago</td>
        </tr>
      <% end %>
    </table>
    <br/>

    <%= will_paginate @reports %>
  <% end %>
<% end %>
