<% content_for :head do %>
  <%= javascript_include_tag 'jquery.fancybox-1.3.4' %>
  <%= stylesheet_link_tag "jquery.fancybox-1.3.4" %>
  <script type="text/javascript" >
    $(function(){
        $(".generated_messages a").fancybox();
    });
  </script>
  <style>
    #fancybox-wrap {
      max-height: 400px;
      overflow: auto;
    }
  </style>
<%  end %>
<% content_for :reports do %>
  <%= page_entries_info @reports, :entry_name => 'message' %><br/><br/>
  <%= will_paginate @reports %>

  <% if @reports.any? %>
    <table class="round full table-grid">
      <thead>
        <tr>
          <th>Date</th>
          <th>Sender</th>
          <th>Sender number</th>
          <th>Text</th>
          <th>Type</th>
          <th>Age</th>
          <th>Sex</th>
          <th>Mobile?</th>
          <th>Reported at</th>
          <th>Health Center</th>
          <th>Village</th>
          <th></th>
        </tr>
      </thead>
      <% @reports.each_with_index do |report, i| %>
        <% report = report.last_report if report.is_a? User %>
        <tr class="<%= i.parity %>">
          <td title="<%= report.created_at %>"><%= time_ago_in_words report.created_at %> ago</td>
          <td><%= report.sender.try(:user_name) %></td>
          <td><%= report.sender_address.try(:without_protocol) %></td>
          <td><%= report.text %></td>
          <% if report.error? %>
            <td style="color:#900" colspan="3" align="center"><nobr><%= report.error_message %>
              <% if params[:error] == 'last' %>
                <%= link_to 'mark as investigated', mark_as_investigated_user_path(report.sender, params.slice(:error, :place, :page)), :confirm => 'Are you sure?' %>
              <% else %>
                <%= link_to 'click to edit', edit_report_path(report, params.slice(:error, :place, :page)) %>
              <% end %>
            </nobr></td>
          <% else %>
            <td><%= report.malaria_type %></td>
            <td><%= report.age %></td>
            <td><%= report.sex %></td>
          <% end %>
          <td><%= report.mobile? ? 'Yes' : 'No' %></td>
          <td><%= report.type == 'HealthCenterReport' ? 'health center' : 'village' unless report.error? %></td>
          <td><%= report.health_center.try(:short_description) %></td>
          <td><%= report.village.try(:short_description) %></td>
          <td class="generated_messages"><%= link_to 'generated messages', generated_messages_report_path(report) %></td>
        </tr>
      <% end %>
    </table>
    <br/>

    <%= will_paginate @reports %>
  <% end %>
<% end %>
