<tr class="<%= place_counter.parity %>">
	<td><%= place.description %></td>
	<td><%= place.name_kh unless place.name_kh.nil? %></td>
	<td><%= place.code %></td>
	<td><%= place.lat %></td>
	<td><%= place.lng %></td>
</tr>
