<div class="pagination_container" ><div class="pagination">&nbsp;</div> <%= will_paginate @places %> </div>
<div class="clear"> </div>
<table class="round full table-grid">
  <thead>
    <tr>
      <th width="80"> Type</th>
      <th width="80"> Code </th>
      <th> Name </th>
      <th> Name KH </th>
      <th width="100"> Latitude </th>
      <th width="100"> Longitude </th>
      <th> Parent </th>
      <th width="50"> </th>
    </tr>
    </thead>
    <tbody>
    <% @places.each_with_index do |place,index| %>
      <tr class="<%= index.parity %>" >
        <td><%= place.type  %>  </td>
        <td><%= place.code  %>  </td>
        <td><%= place.name  %>  </td>
        <td><%= place.name_kh  %>  </td>
        <td><%= place.lat  %>  </td>
        <td><%= place.lng  %>  </td>
        <td><%= place.parent.try(:short_description)  %>  </td>
        <td>
          <%= link_to "Edit", edit_place_path(place, :page => params[:page]) %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>