<div id="content_table">
<div class="pagination_container" ><div class="pagination">&nbsp;</div> <%= will_paginate @places %> </div>
<div class="clear"> </div>
<table class="round full table-grid">
  <thead>
    <tr>
      <th width="60" class="<%= @revert %>"> <%= link_to "Type", places_path(:sort => "type", :dir => @revert, :query => params[:query]) %> </th>
      <th width="80" class="<%= @revert %>"> <%= link_to "Code", places_path(:sort => "code",:dir => @revert, :query => params[:query]) %> </th>
      <th width="150"  class="<%= @revert %>"> <%= link_to "Name", places_path(:sort => "name", :dir => @revert, :query => params[:query]) %> </th>
      <th width="150"  class="<%= @revert %>"> <%= link_to "Name KH", places_path(:sort => "name_kh", :dir => @revert, :query => params[:query]) %></th>
      <th width="100" class="<%= @revert %>"> <%= link_to "Latitude", places_path(:sort => "lat", :dir => @revert, :query => params[:query]) %> </th>
      <th width="100" class="<%= @revert %>"> <%= link_to "Longitude", places_path(:sort => "lng",:dir => @revert, :query => params[:query]) %> </th>
      <th width="150" > Parent </th>
      <th width="50"> </th>
    </tr>
    </thead>
    <tbody>
    <% @places.each_with_index do |place,index| %>
      <tr class="<%= index.parity %>" >
        <td><%= place.type  %>  </td>
        <td><%= place.code  %>  </td>
        <td><%= place.name  %>  </td>
        <td><%= place.name_kh  %>  </td>
        <td><%= place.lat  %>  </td>
        <td><%= place.lng  %>  </td>
        <td><%= place.parent.try(:short_description)  %>  </td>
        <td>
          <%= link_to "Edit", edit_place_path(place, :page => params[:page]) %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
</div>