

<% if @places.size > 0 %>
<div class="clear"></div>
<div>
  <h2 style="float:left;"> List of places </h2>
  <div style="float:right;"><%= link_to "Import places", import_places_path, :class => "import_button" %></div>
  <div class="clear"></div>
</div>

<%= page_entries_info @places %><br/><br/>

<div class="search_box" style="float:right;" >
  <input type="text" id="place_search" name="place_search" value="<%= params[:query] %>" />
  <script type="text/javascript" >
    $(function(){
      loadingMessage = "Retrieving places";
      placeSearch();
      delegatePaginationItem();



    })
    function delegatePaginationItem(){
      $("div.pagination a").live("click",function(){
        loading(false, loadingMessage);
      });
    }
    function placeSearch(){
      $("#place_search").keyup(function(){
         var url = "<%= places_path() %>"
         var text = this.value;
         if(1){
           loading(document.body, loadingMessage)
           $.ajax({
             url: url,
             data: {query: text },
             type: "get",
             success: function(responseText, status, response){
               loading(document.body).hide();
               $("#content_places").html(responseText)
             }
           });
         }
       });
    }
  </script>
</div>
<div id="content_places">
 <%= render "places" %>
</div>
<% else %>
<div> No places</div>
<% end %>
