<%= render 'layouts/breadcrumb' %>
<div id="first_row">
  <span>&nbsp;</span>
  <%= render 'layouts/tabs' %>
</div>
<div id="second_row">
  <div id="navbar">
    <%= render 'layouts/places' %>
    <%= render 'layouts/users' %>
  </div>
  <div id="reports">
    <%= content_for :reports %>
  </div>
</div>
