<div id="first_row">
  <%= render 'layouts/search_place' %>
  <%= render 'layouts/breadcrumb' %>
  <%= render 'layouts/tabs' %>
</div>
<table id="second_row">
  <tr valign="top">
    <td id="navbar">
      <%= render 'layouts/places' %>
      <%= render 'layouts/users' %>
    </td>
    <td id="reports">
      <%= content_for :reports %>
    </td>
</table>
