<div id="toolbar">
  <%= current_user.email %> |
  <%= link_to "Reports", reports_path %> |
  <%= link_to "Users", users_path %> |
  <%= link_to "Thresholds", thresholds_path %> |
  <%= link_to "Alerts", alert_config_path %> |
  <%= link_to "Templates", settings_templates_path %> |
  <%= link_to "Import places", import_places_path %> |
  <%= link_to "Sign out", destroy_user_session_path %>
  <div id="search_box">
    <%= render 'layouts/search_place' %>
  </div>
  
</div>
