<div id="toolbar">
  <%= current_user.email %> |
  <%= link_to "Home", reports_path %> |
  <%= link_to "Users", users_path %> |
  <%= link_to "Thresholds", thresholds_path %> |
  <%= link_to "Alerts", alert_config_path %> |
  <%= link_to "Templates", settings_templates_path %> |
  <%= link_to "Places", places_path %> |
  <%= link_to "Sign out", destroy_user_session_path %>
  <% if content_for? :reports %>
    <div id="search_box">
      <%= render 'layouts/search_place' %>
    </div>
  <% end %>
</div>
