<!DOCTYPE html>
<html>
<head>
  <title> <%= referal_title %> </title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap-comp"  %>
  <%= stylesheet_link_tag "referal"  %>

  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  </style>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

  <%= render "layouts/referal/top_menu" %>
	
  <% content_for :flash do %>
    <% flash.each do |key, value| %>
        <div class="alert alert-success alert-<%="#{key}" %>" > 
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= value.html_safe %> 
        </div>
    <% end %>
  <% end %>
    
  <div class="container">
      
      <% if content_for? :breadcrumb %>
    		<%= yield :breadcrumb %>
      <% end %>


      <div class="row-fluid">
        <%
          span = 12
          span = span -4 if content_for? :sidebar_right
          span = span -4 if content_for? :sidebar_left
        %>
        
	<%= render  "shared/sidebar_left" %>
        <div class="span<%=span%>" style="min-height: 300px;"> 
          <%= yield :flash %>
          
          <% if content_for? :top %>
            <%= yield :top %>
          <% end %>
          
          <%= yield %>  
          
          <% if content_for? :bottom %>
            <%= yield :bottom %>
          <% end %>
        </div>
        <%= render "shared/sidebar_right" %>
        
        
      </div>

    </div>


  <%= javascript_include_tag "http://code.jquery.com/jquery-latest.js" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "bootstrap-comp" %>
  <%=yield :js %>      

</body>
</html>
